<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote For Your Candidate</title>
</head>
<body>
    <h1>Welcome to naija vote platform</h1>
    <h3>Vote Your Candidate!</h3>
    <h5>free and square</h5>
    <table>
        <thead>candidate name</thead>
        <thead>candidate state</thead>
        <thead>candidate votes</thead>
        <tr>
            <td><img src="" alt="atiku abubakar picture" srcset=""></td>
            <td><img src="" alt="peter obi picture" srcset=""></td>
            <td><img src="" alt="bola tinubu picture" srcset=""></td>
        </tr>
        <tr>
            <td>atiku abubakar</td>
            <td>peter obi</td>
            <td>bola tinubu</td>
        </tr>
        <tr>
            <td><button>vote</button></td>
            <td><button>vote</button></td>
            <td><button>vote</button></td>
        </tr>
    </table>
    <!-- the purpose of this script is to update the votes of a candidate once it is been clicked by the user  -->
    <script>

    </script>
</body>
</html>