<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote For Your Candidate</title>
</head>
<body>
    <h1>Welcome to naija vote platform</h1>
    <h3>Vote Your Candidate!</h3>
    <h5>free and square</h5>
    {% block content %}
    {% load static %}
    <table>
        <thead>candidate name</thead>
        <thead>candidate state</thead>
        <thead>candidate votes</thead>
        <!-- the files served here are static, the django publishers specify that is not advisable, they provide
         an alternative option to serve static files during production -->
        <tr>
            <td><img src="{% static 'myshop\static\atiku-abubakar portrait.jpg' %}" alt="My image"></td>
            <td><img src="" alt="peter obi picture" srcset=""></td>
            <td><img src="" alt="bola tinubu picture" srcset=""></td>
        </tr>
         <tr>
            {% for person in candidate %}
            <td>{{ person.candidate_name }}</td>
            <td>{{ person.candidate_state }}</td>
            <td>{{ person.desired_post }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><button>vote</button></td>
            <td><button>vote</button></td>
            <td><button>vote</button></td>
        </tr>
    </table>
    {% endblock %}

    <!-- the purpose of this script is to update the votes of a candidate once it is been clicked by the user  -->
    <script>

    </script>
</body>
</html>